!!!
/[if lt IE 7 ]
  <html class="ie ie6" lang="en-US">
/[if IE 7 ]
  <html class="ie ie7" lang="en-US">
/[if IE 8 ]
  <html class="ie ie8" lang="en-US">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en-US"}
  / <![endif]
  %head
    /
      Basic Page Needs
      \==================================================
    %meta{:charset => "UTF-8"}
      %title B2Bsoft
      /
        Mobile Specific Metas
        \==================================================
      %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
        /
          Favicons
          \==================================================
        %link{:href => "images/16.ico", :rel => "shortcut icon"}
          %link{:href => "images/57.png", :rel => "apple-touch-icon"}
            %link{:href => "images/72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
              %link{:href => "images/114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
  %body.home.page.page-id-5.page-template.page-template-template-one-page-php.computer.cssnav{"data-device" => "", "data-maxcols" => ""}
    #top
    #o_revolution_widget-2.o-widget-1.o-widget-first.o-widget-odd.widget_o_revolution_widget.o-widget.o-main-widget
      %div
        .container
          .row
            .col.dimfull
              / START REVOLUTION SLIDER 4.1 fullwidth mode
              #rev_slider_4_1_wrapper.rev_slider_wrapper.fullwidthbanner-container{:style => "margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:500px;"}
                #rev_slider_4_1.rev_slider.fullwidthabanner{:style => "display:none;max-height:500px;height:500;"}
                  %ul
                    / SLIDE
                    %li{"data-masterspeed" => "5000", "data-slotamount" => "7", "data-transition" => "random"}
                      / MAIN IMAGE
                      %img{:alt => "", "data-bgfit" => "cover", "data-bgposition" => "center top", "data-bgrepeat" => "no-repeat", :src => "themes/plugins/revslider/images/transparent.png"}
                        / LAYERS
                        / LAYER NR. 1
                        .tp-caption.tp-fade{"data-easing" => "Power3.easeInOut", "data-endspeed" => "300", "data-speed" => "300", "data-start" => "400", "data-voffset" => "-20", "data-x" => "-240", "data-y" => "center", :style => "z-index: 2"}
                          %img{:alt => "", "data-hh" => "1245", "data-ww" => "1245", :src => "images/electionary.png"}
                        / LAYER NR. 2
                        .tp-caption.tp-fade{"data-easing" => "Power3.easeInOut", "data-endspeed" => "300", "data-hoffset" => "-35", "data-speed" => "300", "data-start" => "1000", "data-voffset" => "-15", "data-x" => "right", "data-y" => "bottom", :style => "z-index: 3"}
                          %img{:alt => "", :src => "images/13.png"}
                    / SLIDE
                    %li{"data-delay" => "5000", "data-masterspeed" => "300", "data-slotamount" => "7", "data-transition" => "random"}
                      / MAIN IMAGE
                      %img{:alt => "", "data-bgfit" => "cover", "data-bgposition" => "center top", "data-bgrepeat" => "no-repeat", :src => "themes/plugins/revslider/images/transparent.png"}
                        / LAYERS
                        / LAYER NR. 1
                        .tp-caption.tp-fade{"data-easing" => "Power3.easeInOut", "data-endspeed" => "300", "data-speed" => "300", "data-start" => "1000", "data-voffset" => "-70", "data-x" => "20", "data-y" => "center", :style => "z-index: 2"}
                          %img{:alt => "", :src => "images/22.png"}
                        / LAYER NR. 2
                        .tp-caption.tp-fade{"data-easing" => "Power3.easeInOut", "data-endspeed" => "300", "data-speed" => "300", "data-start" => "400", "data-x" => "452", "data-y" => "53", :style => "z-index: 3"}
                          %img{:alt => "", :src => "images/Apt.png"}
                    / SLIDE
                    %li{"data-delay" => "5000", "data-masterspeed" => "300", "data-slotamount" => "7", "data-transition" => "random"}
                      / MAIN IMAGE
                      %img{:alt => "", "data-bgfit" => "cover", "data-bgposition" => "center top", "data-bgrepeat" => "no-repeat", :src => "themes/plugins/revslider/images/transparent.png"}
                        / LAYERS
                        / LAYER NR. 1
                        .tp-caption.tp-fade{"data-easing" => "Power3.easeInOut", "data-endspeed" => "300", "data-speed" => "300", "data-start" => "1000", "data-x" => "529", "data-y" => "25", :style => "z-index: 2"}
                          %img{:alt => "", :src => "images/31.png"}
                        / LAYER NR. 2
                        .tp-caption.tp-fade{"data-easing" => "Power3.easeInOut", "data-endspeed" => "300", "data-speed" => "300", "data-start" => "400", "data-x" => "8", "data-y" => "124", :style => "z-index: 3"}
                          %img{:alt => "", :src => "images/1.png"}
                    / SLIDE
                    %li{"data-delay" => "5000", "data-masterspeed" => "300", "data-slotamount" => "7", "data-transition" => "random"}
                      / MAIN IMAGE
                      %img{:alt => "", "data-bgfit" => "cover", "data-bgposition" => "center top", "data-bgrepeat" => "no-repeat", :src => "themes/plugins/revslider/images/transparent.png"}
                        / LAYERS
                        / LAYER NR. 1
                        .tp-caption.tp-fade{"data-easing" => "Power3.easeInOut", "data-endspeed" => "300", "data-speed" => "300", "data-start" => "1000", "data-x" => "35", "data-y" => "35", :style => "z-index: 2"}
                          %img{:alt => "", :src => "images/41.png"}
                        / LAYER NR. 2
                        .tp-caption.tp-fade{"data-easing" => "Power3.easeInOut", "data-endspeed" => "300", "data-speed" => "300", "data-start" => "400", "data-x" => "2", "data-y" => "-70", :style => "z-index: 3"}
                          %img{:alt => "", :src => "images/BE1.png"}
                    / SLIDE
                    %li{"data-delay" => "5000", "data-masterspeed" => "300", "data-slotamount" => "7", "data-transition" => "random"}
                      / MAIN IMAGE
                      %img{:alt => "", "data-bgfit" => "cover", "data-bgposition" => "center top", "data-bgrepeat" => "no-repeat", :src => "themes/plugins/revslider/images/transparent.png"}
                        / LAYERS
                        / LAYER NR. 1
                        .tp-caption.tp-fade{"data-easing" => "Power3.easeInOut", "data-endspeed" => "300", "data-hoffset" => "-25", "data-speed" => "300", "data-start" => "1000", "data-x" => "right", "data-y" => "30", :style => "z-index: 2"}
                          %img{:alt => "", :src => "images/51.png"}
                        / LAYER NR. 2
                        .tp-caption.tp-fade{"data-easing" => "Power3.easeInOut", "data-endspeed" => "300", "data-speed" => "300", "data-start" => "400", "data-x" => "-158", "data-y" => "-45", :style => "z-index: 3"}
                          %img{:alt => "", :src => "images/AE1.png"}
                    / SLIDE
                    %li{"data-delay" => "5000", "data-masterspeed" => "300", "data-slotamount" => "7", "data-transition" => "random"}
                      / MAIN IMAGE
                      %img{:alt => "", "data-bgfit" => "cover", "data-bgposition" => "center top", "data-bgrepeat" => "no-repeat", :src => "themes/plugins/revslider/images/transparent.png"}
                        / LAYERS
                        / LAYER NR. 1
                        .tp-caption.tp-fade{"data-easing" => "Power3.easeInOut", "data-endspeed" => "300", "data-speed" => "300", "data-start" => "400", "data-x" => "134", "data-y" => "-318", :style => "z-index: 2"}
                          %img{:alt => "", "data-hh" => "1245", "data-ww" => "1245", :src => "images/img_2.png"}
                        / LAYER NR. 2
                        .tp-caption.tp-fade{"data-easing" => "Power3.easeInOut", "data-endspeed" => "300", "data-speed" => "300", "data-start" => "1000", "data-x" => "40", "data-y" => "50", :style => "z-index: 3"}
                          %img{:alt => "", :src => "images/61.png"}
                  .tp-bannertimer
    .swiper-container.swiper-top
      .swiper-wrapper
        .swiper-slide
          =image_tag 'mobileR1.png'
        .swiper-slide
          =image_tag 'mobileR2.png'
        .swiper-slide
          =image_tag 'mobileR3.png'
        .swiper-slide
          =image_tag 'mobileR4.png'
        .swiper-slide
          =image_tag 'mobileR5.png'
        .swiper-slide
          =image_tag 'mobileR6.png'
    #header.menu-mixed.menu-mixed-title
      .container.wrap
        .row
          #logo.scroller.col.pull-left
            %a.logoimage{:href => "index.html#o_revolution_widget-2", :title => "EBBEX | Building Apps Intentionally"}
              =image_tag 'Use-this-logo.png'
            %a.logolink.hidden{:href => "index.html#o_revolution_widget-2", :title => "EBBEX | Building Apps Intentionally"}
              EBBEX
          #pagenav.col.pull-right.hidden
            %a#menutrigger.btn.icon.transparent{:href => "index.html#sidr"}
              %span.glyphicons.justify
                %i
            %span.clear
          #mobilenavtrigger.col.pull-right.hidden
            %a{:href => "index.html#"}
              %span.glyphicons.justify
                %i
            %span.clear
          #sitenav.col.pull-right
            %ul.nav
              %li#menu-item-90.scroller.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-90
                %a{:href => "index.html#o_revolution_widget-2"}
                  %span.glyphicons.home>
                    %i
                  Home
              %li#menu-item-107.scroller.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-107
                %a{:href => "index.html#o_slider_widget-3"} Portfolio
              %li#menu-item-91.scroller.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-91
                %a{:href => "index.html#o_services2_widget-2"} Approach
              %li#menu-item-94.scroller.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-94
                %a{:href => "index.html#o_shortcode_widget-2"} Promise
              %li#menu-item-96.scroller.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-96
                %a{:href => "index.html#o_shortcode_widget-3"} Pricing
              %li#menu-item-121.scroller.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-121
                %a{:href => "index.html#o_shortcode_widget-4", :title => "Contact Us"} Contact Us
              %li#menu-item-121.scroller.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-121
                %a{:href => "/users/sign_in", :title => "Contact Us"} Вход
          / #sitenav
          #mobilenav.col.dimfull.hidden
            %ul.mobinav
              %li.scroller.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-90
                %a{:href => "index.html#o_revolution_widget-2"}
                  %span.glyphicons.home>
                    %i
                  Home
              %li.scroller.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-107
                %a{:href => "index.html#o_slider_widget-3"} Portfolio
              %li.scroller.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-91
                %a{:href => "index.html#o_services2_widget-2"} Approach
              %li.scroller.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-94
                %a{:href => "index.html#o_shortcode_widget-2"} Promise
              %li.scroller.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-96
                %a{:href => "index.html#o_shortcode_widget-3"} Pricing
              %li.scroller.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-121
                %a{:href => "index.html#o_shortcode_widget-4", :title => "Contact Us"} Contact Us
          / #mobilenav
        / /.row
        %span.clear
      / /.container
    / /#header
    #o_clients_widget-2.o-widget-1.o-widget-first.o-widget-odd.widget_o_clients_widget.o-widget.o-main-widget
      .cream-container.parallax{"data-speed" => "0.1", :style => "background-image: url('http://ebbex.com/wp-content/uploads/2013/12/bg-group.png');  background-attachment: fixed; "}
        .container.wrap
          .row
            .col.dimfull.text-center
              %p.intro.clients-intro
                The world’s leading companies and the most exciting startups trust us
                to develop their mobile apps. These are some of the companies we have partnered with.
              .o-carousel
                .es-carousel-wrapper
                  .es-carousel
                    %ul{"data-count" => "5"}
                      %li
                        =image_tag '24.png'
                      %li
                        =image_tag '34.png'
                      %li
                        =image_tag '7238.png'
                      %li
                        =image_tag '44.png'
                      %li
                        =image_tag '51.png'
                      %li
                        =image_tag '64.png'
                      %li
                        =image_tag '111.png'
                      %li
                        =image_tag '74.png'
    #o_slider_widget-3.o-widget-1.o-widget-first.o-widget-odd.widget_o_slider_widget.o-widget.o-main-widget
      .coffee-container.desktop
        .container.fw_slider
          .row
            .col.dimfull.text-center
              %ul.rslides{"data-auto" => "1", "data-timeout" => "4"}
                %li
                  =image_tag '1-1200x799.jpg'
                %li
                  =image_tag '1-1200x799.jpg'
                %li
                  =image_tag '1-1200x799.jpg'
                %li
                  =image_tag '1-1200x799.jpg'
                %li
                  =image_tag '1-1200x799.jpg'
                %li
                  =image_tag '1-1200x799.jpg'
                %li
                  =image_tag '1-1200x799.jpg'
                %li
                  =image_tag '1-1200x799.jpg'
                %li
                  =image_tag '1-1200x799.jpg'
                %li
                  =image_tag '1-1200x799.jpg'
                %li
                  =image_tag '1-1200x799.jpg'
                %li
                  =image_tag '1-1200x799.jpg'
                %li
                  =image_tag '1-1200x799.jpg'
                %li
                  =image_tag '1-1200x799.jpg'
            / /.col
          / /.row
        / /.container
      / /
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            =image_tag '1-1200x799.jpg'
          .swiper-slide
            =image_tag '1-1200x799.jpg'
          .swiper-slide
            =image_tag '1-1200x799.jpg'
          .swiper-slide
            =image_tag '1-1200x799.jpg'
          .swiper-slide
            =image_tag '1-1200x799.jpg'
          .swiper-slide
            =image_tag '1-1200x799.jpg'
          .swiper-slide
            =image_tag '1-1200x799.jpg'
          .swiper-slide
            =image_tag '1-1200x799.jpg'
          .swiper-slide
            =image_tag '1-1200x799.jpg'
          .swiper-slide
            =image_tag '1-1200x799.jpg'
          .swiper-slide
            =image_tag '1-1200x799.jpg'
          .swiper-slide
            =image_tag '1-1200x799.jpg'
          .swiper-slide
            =image_tag '1-1200x799.jpg'

    #o_team_widget-2.o-widget-1.o-widget-first.o-widget-odd.widget_o_team_widget.o-widget.o-main-widget
      .coffee-container{"data-speed" => "0.1", :style => ""}
        .container.wrap
          .row
            .col.dimfull.text-center
              %h2
                Every company is unique, and their apps should be also. We
                believe that building a world-class
                app begins with a phone call.
              %p.intro
                %p.description
                  A phone call allows us to personally (Mikka and Nicolas, co-founders)
                  understand your organization, your users, and most importantly, the mobile app that you want to
                  build.
                %p.description
                  Whether you need a cloud-based enterprise level solution or you have a
                  startup idea, our initial conversation will determine if we are a good fit to work together. As
                  a boutique shop, we pride ourselves in working exclusively with companies that we are excited
                  about. Being selective allows us to constantly give each of our clients the personal attention
                  they deserve.
                %p.description
                  On our initial phone call, we will seek to understand by asking you a series
                  of questions. Based on your answers, we will offer suggestions and detail next steps.
              .teamcarousel.no-carousel
                .clearfix
                  %div
                    %ul.clearfix{"data-count" => "1"}
                      %li.row.clearfix.team-list0
                        .col.dim1quarter.padleft
                          =image_tag 'Mikka.jpg', class: 'img-circle'
                        .col.dim3quarters.text-left.padright
                          %h3
                            %a.team-name{:href => "mailto:mikka.olsson@ebbex.com", :target => "_self"} Mikka Olsson
                          %h4 Co-Founder
                          %p
                            At the end of the day you can’t build a great app without truly
                            understanding what the company wants to accomplish.
                      %li.row.clearfix.team-list1
                        .col.dim1quarter.padleft
                          =image_tag 'Nicolas.jpg', class: 'img-circle'
                        .col.dim3quarters.text-left.padright
                          %h3
                            %a.team-name{:href => "mailto:nicolas.acuna@ebbex.com", :target => "_self"} Nicolas Acuña
                          %h4 Co-Founder
                          %p
                            Coming up with the right mobile strategy with our clients is often a
                            difficult, yet always extremely rewarding, experience. Co-creating apps
                            we are all proud of is an incredible feeling, and we get to do it every
                            day.
              %span.clear
    #o_services2_widget-2.o-widget-1.o-widget-first.o-widget-odd.widget_o_services2_widget.o-widget.o-main-widget
      .cream-container.parallax.services-2-custom{"data-speed" => "0.1", :style => "background-image: url('http://ebbex.com/wp-content/uploads/2013/12/bg-cogwheels.png');  background-attachment: fixed; "}
        .icon-container
          %div
            %span.glyphicons.cogwheels
              %i
        .container.wrap
          .row.approach-top
            .col.dimfull.text-center
              %h2 Our Approach
              %p.intro
                The first step in creating a custom turnkey app is defining the user experience
                before a single line of code is written. We call this the “Front End Approach”. It has 3
                steps:
          .col.dimfull.text-center.approch-tabs
            %ul.btn-nav.o-filters.centered.padbottom{"data-target" => "o-service-container-o_services2_widget-2"}
              %li.active
                %a{"data-filter" => "#service-4", :href => "index.html#"} Wireframes
              %li
                %a{"data-filter" => "#service-54", :href => "index.html#"} Design
              %li
                %a{"data-filter" => "#service-53", :href => "index.html#"} Development
          .row.approach-bottom
            .col.dimfull.text-center
              #o-service-container-o_services2_widget-2.row.o-items-container.format-mosaic.o-index.services2.approach-container{"data-cols" => "1"}
                #service-4.row.o-item{"data-cols" => "1"}
                  .col.dim1quarter.padright
                    =image_tag 'wireframe.png'
                  .col.dim3quarters.text-left.padleft
                    / <h3>Wireframes</h3>
                    %h5 Discovery Meeting:
                    %p.description
                      We will conduct an initial Discovery Meeting where our team will
                      ask deeper questions about your app’s objective, your company, your users, your
                      brand, and your technical requirements. Depending on the complexity of the project,
                      we will then build an architectural scope detailing the technical operating
                      environment of the app. The architectural scope specifies how your app will tie into
                      existing databases, servers, websites or third party systems.
                    %h5 Wireframes and Flow:
                    %p.intro.intro-last
                      Based upon your feature set, we will lay out every single
                      screen, identify every single user scenario, and detail all the app’s internal logic
                      and external interactions. At this point, we will know exactly how your app will
                      behave. This iterative process requires your constant input. Once the Wireframe step
                      is approved, we will move into the Design step.
                / /.row .o-item
                #service-54.row.o-item.hidden{"data-cols" => "1"}
                  .col.dim1quarter.padright
                    =image_tag 'service-icon.png'
                  .col.dim3quarters.text-left.padleft
                    / <h3>Design</h3>
                    %h5
                      Discovery Meeting:
                    %p.description
                      This step begins by understanding your brand– identifying the
                      visual elements you like and what you envision your app looking like. We will ask
                      you questions that will help you pinpoint what elements you prefer, and most
                      importantly, identify why particular elements are appealing to you:  Are you partial
                      to a more modern clean look, or do you prefer a vintage look? Do you like shadowing
                      and 3D effects, or do you prefer a clean flat look? What apps do you dislike, and
                      which do you use everyday?
                    %h5 Design Theme:
                    %p.intro.intro-last
                      As we work with you, we will select the app’s essential UIs
                      (from the Wireframes) and begin designing the theme.
                      %br/
                      This step is very collaborative. We will show you the designs for your
                      approval.
                      %br/
                      By this stage we have had enough discovery conversations about the designs for your
                      approval.
                      %br/
                      Most of the time we can all agree on the design theme on the first or second
                      iteration, since we have had many discovery conversations. Nevertheless, part of the
                      Ebbex promise is to do as many revisions as needed until you can approve and sign
                      off on the designs. After signing off, you will know your app’s look and feel as we
                      move into the coding phase. After we sign off on designs, but before we start
                      coding, we will create a UI kit where we design all visual assets the app will need
                      for the development phase.
                / /.row .o-item
                #service-53.row.o-item.hidden{"data-cols" => "1"}
                  .col.dim1quarter.padright
                    =image_tag 'development_icon.png'
                  .col.dim3quarters.text-left.padleft
                    / <h3>Development</h3>
                    %h5 Development:
                    %p.description
                      The Wireframes and Design steps have now successfully eliminated
                      the guesswork. We can now concentrate on creating world-class code for your app.
                      This step applies for all iOS, Android and back-end development.
                    %h5 QA Testing:
                    %p.description
                      Developing apps is an iterative process where all stakeholders
                      test releases or builds. We will send all builds to your devices via a testing
                      platform. We’ll work together to exhaustively test the whole mobile solution from a
                      design, feature-set, and functionality perspective until your app is ready to
                      deploy.
                    %h5 Deployment:
                    %p.intro{:style => "padding-bottom: 0px;"}
                      We will assist you in deploying your
                      mobile solution to the AppStore, GooglePlay and your own servers for any back-end
                      deployment.
                / /.row .o-item
              / /.o-items-container
              %span.clear
            / /.col
          / /.row
        / /.container
      / /#
    #o_shortcode_widget-2.o-widget-1.o-widget-first.o-widget-odd.widget_o_shortcode_widget.o-widget.o-main-widget
      .coffee-container.parallax{"data-speed" => "0.1", :style => "background-image: url('http://ebbex.com/wp-content/uploads/2013/12/thumbs-up.png');  background-attachment: fixed; "}
        .icon-container
          %div
            %span.glyphicons.thumbs_up
              %i
        .container.wrap
          .row
            #diffrent-snippets.col.dimfull.text-left
              %h2.contact Our promise
              %p.description
                %strong> Understanding:
                We will seek to understand and advise you on
                what is best for you.
                %br/
                Some companies, seek to increase their bottom lines. While we are all for
                being paid for the value we create, we will always give you our expert advise, even if it means
                less money for us.
              %p.description
                %strong> Care:
                We care about the details, we care about timelines, we
                care about the integrity of your product/company, and we care about your users. We are
                constantly driving the project further. We will be the drivers of progress so that you can
                concentrate on running the other parts of your business.
              %p.description
                %strong> Communication:
                We will have superb communication with you.
                We will always be reachable and we’ll constantly keep you apprised of your project’s progress.
                We are an open, flat organization where you can reach any of us at any time. The resources of
                the entire company will be at your disposal.
            / /.col
          / /.row
        / /.container
      / /#about
    #o_shortcode_widget-3.o-widget-1.o-widget-first.o-widget-odd.widget_o_shortcode_widget.o-widget.o-main-widget
      .cream-container.parallax{"data-speed" => "0.1", :style => "background-image: url('http://ebbex.com/wp-content/uploads/2013/12/usd.png');  background-attachment: fixed; "}
        .icon-container
          %div
            %span.glyphicons.usd
              %i
        .container.wrap
          .row
            #diffrent-snippets.col.dimfull.text-left
              %h2.contact Pricing
              %h5 App Development
              %p.description
                Getting a quote on an app can be difficult. There is a huge price disparity
                between what an individual offshore developer and a big US based firm can quote you. Sometimes
                the difference can be so large that it leaves you wondering how either of them can charge what
                they charge.
              %p.description We have a simple pricing structure.
              %p.description
                The minimum investment for a high quality IOS or Android app is $40,000 USD.
                It increases from then on depending on the feature-set. The majority of our projects range
                between $70,000 and $150,000. On the higher end, investments are $200,000 and above.
              %h5 Monthly Analytics and Maintenance Packages
              %p.description
                Monthly Analytics are not necessary for everybody. But if your app or mobile
                strategy calls for any of the following, we will quote you on a Monthly Analytics and
                Maintenance package once the project is completed:
              %ul.pricing-bullets
                %li.pricing-bullets-lists Expected to have a high number of users
                %li.pricing-bullets-lists Expected to have a high usage
                %li.pricing-bullets-lists
                  Expect to launch updates and improvements as your value
                  proposition adjusts and becomes more defined
                %li.pricing-bullets-lists
                  If there are multiple third party providers/APIs that play an
                  important roll on your app/mobile strategy
              %p.intro
                Prices vary depending on the complexities of each project. You can cancel a package
                at any time.
            / /.col
          / /.row
        / /.container
      / /#about
    #o_shortcode_widget-4.o-widget-1.o-widget-first.o-widget-odd.widget_o_shortcode_widget.o-widget.o-main-widget
      .coffee-container.parallax{"data-speed" => "0.1", :style => "background-image: url('http://ebbex.com/wp-content/uploads/2013/12/bg-comments.png');  background-attachment: fixed; "}
        .icon-container
          %div
            %span.glyphicons.comments
              %i
        .container.wrap
          .row
            #diffrent-snippets.col.dimfull.text-left
              %h2
                Instead of just reiterating what’s on our résumés, here are 5 things that we would want you to
                know about us.
              %p
                %strong We ask a lot of questions.
                Especially, “Why”? We believe that the most dangerous
                answer in business is “Because that’s what has always been done”. Whether you have an
                established worldwide brand, or you have a hot new start-up, we will consult with you and
                discover all the “Whys?” of your mobile strategy.
              %p
                %strong We will push back when we disagree.
                Our objective is to build the best mobile
                and cloud solution possible. Sometimes our experience will be the voice of reason, and when it
                is, we’ll let you know.
              %p
                %strong We are humble.
                Sometimes the client does know best. After all, we’ll be dealing
                with your subject matter and your users. You know a lot that we don’t.
              %p
                %strong We talk a lot.
                On Skype, on Facetime, on our iPhones, and on our land-lines
                (yes, they still exist). We will communicate with you along every step of the way.
              %p
                %strong We are obsessive.
                We believe that what people think about at the start and end
                of the day is what’s most important to them. Our entire team obsesses about our customers’ apps
                from sunrise to sunset.
              %p
                If you are still curious about what’s on our résumés, click on the LinkedIn icons. Or, if you’d
                like to see what some of our previous clients have to say about working with us, click
                = succeed "." do
                  %a{:href => "https://clutch.co/profile/ebbex", :onclick => "javascript:_gaq.push(['_trackEvent','outbound-article','http://clutch.co']);", :target => "_blank"} here
              %p
                We would love to talk to you and learn more about your company and your mobile needs. Feel free
                to write us an email or give us a call. We will personally answer or get back to you.
              %p
                %a{:href => "http://www.linkedin.com/in/mikkaolsson", :onclick => "javascript:_gaq.push(['_trackEvent','outbound-article','http://www.linkedin.com']);"}
                  Mikka
                  Olsson
                  %span.glyphicons.linked_in
                    %i
                %br/
                %a{:href => "mailto:mikka.olsson@ebbex.com"} mikka.olsson@ebbex.com
                %br/
                770-855-8600 (No Solicitations Please)
              %p
                %a{:href => "http://www.linkedin.com/profile/view?id=27019912&amp;authType=name&amp;authToken=OaVa&amp;trk=prof-sb-browse_map-photo", :onclick => "javascript:_gaq.push(['_trackEvent','outbound-article','http://www.linkedin.com']);"}
                  Nicolas
                  Acuña
                  %span.glyphicons.linked_in
                    %i
                %br/
                %a{:href => "mailto:nicolas.acuna@ebbex.com"} nicolas.acuna@ebbex.com
                %br/
                770-330-7795 (No Solicitations Please)
              %p Ebbex is located in Redding, California, U.S.A.
            / /.col
          / /.row
        / /.container
      / /#about
    #copyright.coffee-container
      .container.wrap
        .row
          .col.dimfull.text-center
          / /.col
        / /.row
      / /.container
    / /#copyright
    %span#lightbox_params.hidden{"data-autoplay" => "no", "data-gallery" => "no", "data-sharing" => "both", "data-slideshow" => "5000", "data-speed" => "fast", "data-theme" => "light_square"}
    .scroller
      %a#scrolltop{:href => "index.html#top", :style => "display: none;", :title => "Top"}
        %span.glyphicons.up_arrow
          %i
    /
      End Document
      \==================================================