<p>Добрый день, <%= @resource.email %>!</p>

<p>Вы ввели неправильный пароль несколько раз подряд. Ваш аккаунт заблокирован.</p>

<p>Перейдите по ссылке, чтобы разблокировать аккаунт:</p>

<p><%= link_to 'Разблокировать аккаунт', unlock_url(@resource, :unlock_token => @token) %></p>
