<% @urls.each do |url| %>
    <td class="num muted">
      <%= url.nil? ? '-' : link_to(spaces(url.price), url.url, class: url.violator? ? 'text-error' : 'muted', target: '_blank') %>
    </td>
<% end %>

